/* RESET */

*{
    margin:0;
    padding:0;

    box-sizing:border-box;
}

/* BODY */

body{
    background:#050505;

    color:#F5F1E8;

    font-family:'Inter',sans-serif;

    overflow-x:hidden;

    scroll-behavior:smooth;
}

/* HERO */

.hero{
    position:relative;

    min-height:100vh;

    overflow:hidden;
}

/* VIDEO */

.hero-video{
    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;
}

/* OVERLAY */

.overlay{
    position:absolute;

    inset:0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.88)
    );
}

/* HEADER */

header{
    width:92%;

    position:fixed;

    top:25px;
    left:50%;

    transform:translateX(-50%);

    padding:24px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:1000;

    border:
    1px solid rgba(255,255,255,0.05);

    background:
    rgba(8,8,8,0.35);

    backdrop-filter:blur(14px);

    -webkit-backdrop-filter:blur(14px);

    transition:
    background 0.4s ease,
    border 0.4s ease,
    top 0.4s ease;
}

/* LOGO */

.logo{
    font-family:'Cormorant Garamond',serif;

    font-size:1.5rem;
    font-weight:500;

    letter-spacing:6px;

    color:#F5F1E8;
}

/* NAV */

nav{
    display:flex;

    gap:45px;
}

nav a{
    position:relative;

    color:#EAEAEA;

    text-decoration:none;

    font-size:0.82rem;

    letter-spacing:2px;

    transition:0.4s ease;
}

/* HOVER LINE */

nav a::after{
    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0%;
    height:1px;

    background:#C9A97D;

    transition:0.5s ease;
}

nav a:hover{
    color:#C9A97D;
}

nav a:hover::after{
    width:100%;
}

/* HERO CONTENT */

.hero-content{
    position:relative;

    z-index:5;

    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;

    padding:0 7%;

    max-width:900px;

    z-index:2;
}

/* SMALL TEXT */

.hero-content p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:30px;

    font-size:0.8rem;
}

/* TITLE */

.hero-content h1{
    font-family:'Cormorant Garamond',serif;

    font-size:7rem;
    font-weight:300;

    line-height:0.92;

    margin-bottom:35px;
}

/* DESCRIPTION */

.hero-content span{
    color:#D2D2D2;

    line-height:2;

    max-width:620px;

    display:block;

    margin-bottom:50px;
}

/* BUTTONS */

.hero-buttons{
    display:flex;

    gap:24px;

    flex-wrap:wrap;
}

/* BUTTON */

.hero-buttons a{
    display:inline-block;

    padding:18px 40px;

    border:
    1px solid rgba(255,255,255,0.12);

    color:#F5F1E8;

    text-decoration:none;

    letter-spacing:3px;

    font-size:0.78rem;

    transition:0.5s ease;
}

/* PRIMARY HOVER */

.hero-buttons a:hover{
    background:#F5F1E8;

    color:#050505;
}

/* SECONDARY */

.secondary-btn{
    background:
    rgba(255,255,255,0.04);
}

/* MOBILE TOGGLE */

.menu-toggle{
    display:none;

    flex-direction:column;

    gap:6px;

    cursor:pointer;

    position:relative;

    z-index:10000;
}

.menu-toggle span{
    width:28px;
    height:1px;

    background:#F5F1E8;
}

/* ANIMATION */

.menu-toggle span{
    transition:0.5s ease;
}

/* TOP LINE */

.menu-toggle.active span:nth-child(1){
    transform:
    rotate(45deg)
    translate(5px,5px);
}

/* BOTTOM LINE */

.menu-toggle.active span:nth-child(2){
    transform:
    rotate(-45deg)
    translate(5px,-5px);
}

/* MOBILE MENU */

.mobile-menu{
    position:fixed;

    inset:0;

    background:
    rgba(5,5,5,0.98);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:34px;

    opacity:0;
    visibility:hidden;

    transition:0.6s ease;

    z-index:9999;
}

/* ACTIVE */

.mobile-menu.active{
    opacity:1;
    visibility:visible;
}

body.menu-open{
    overflow:hidden;
}

/* LINKS */

.mobile-menu a{
    color:#F5F1E8;

    text-decoration:none;

    font-family:'Cormorant Garamond',serif;

    font-size:3rem;
    font-weight:300;

    letter-spacing:4px;

    transition:0.4s ease;
}

/* HOVER */

.mobile-menu a:hover{
    color:#C9A97D;
    }

/* TABLET */

@media(max-width:900px){

    .hero-content h1{
        font-size:5rem;
    }

}

/* MOBILE */

@media(max-width:600px){

    nav{
        display:none;
    }

    .menu-toggle{
        display:flex;
    }

    header{
        padding:22px 28px;
    }

    .hero-content{
        padding:0 7%;
    }

    .hero-content h1{
        font-size:3.5rem;

        line-height:1;
    }

    .hero-content span{
        font-size:0.95rem;
    }

    .hero-buttons{
        flex-direction:column;

        align-items:flex-start;
    }

    }

/* PROJECTS */

.projects{
    padding:180px 7%;

    background:#070707;
}

/* TITLE */

.projects-title{
    margin-bottom:90px;
}

.projects-title p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:24px;

    font-size:0.8rem;
}

.projects-title h2{
    font-family:'Cormorant Garamond',serif;

    font-size:6rem;
    font-weight:300;

    line-height:0.95;
}

/* GRID */

.projects-grid{
    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:35px;
}

/* CARD */

.project-card{
    position:relative;

    height:720px;

    overflow:hidden;

    text-decoration:none;

    background:#111;

    display:block;
}

/* IMAGE */

.project-card img{
    width:100%;
    height:100%;

    object-fit:cover;

    transition:
    transform 1.2s ease,
    filter 1s ease;
}

/* OVERLAY */

.project-overlay{
    position:absolute;

    inset:0;

    background:
    linear-gradient(
        to top,
        rgba(0,0,0,0.92),
        rgba(0,0,0,0.15)
    );
}

/* INFO */

.project-info{
    position:absolute;

    left:45px;
    bottom:45px;

    z-index:5;
}

/* SMALL TEXT */

.project-info span{
    color:#D8D8D8;

    letter-spacing:3px;

    font-size:0.75rem;
}

/* TITLE */

.project-info h3{
    font-family:'Cormorant Garamond',serif;

    font-size:3.2rem;
    font-weight:300;

    color:#F5F1E8;

    margin-top:12px;
}

/* HOVER */

.project-card:hover img{
    transform:scale(1.08);

    filter:brightness(1.08);
}

/* LARGE FEATURE */

.project-card:nth-child(1){
    grid-column:span 2;

    height:850px;
}

/* MOBILE */

@media(max-width:900px){

    .projects-grid{
        grid-template-columns:1fr;
    }

    .project-card:nth-child(1){
        grid-column:span 1;
    }

    .projects-title h2{
        font-size:4rem;
    }

}

@media(max-width:600px){

    .projects{
        padding:120px 7%;
    }

    .projects-title{
        margin-bottom:60px;
    }

    .projects-title h2{
        font-size:3rem;
    }

    .project-card{
        height:500px;
    }

    .project-card:nth-child(1){
        height:560px;
    }

    .project-info{
        left:28px;
        bottom:28px;
    }

    .project-info h3{
        font-size:2.2rem;
    }

  }

/* PHILOSOPHY */

.philosophy{
    padding:180px 7%;

    background:#0A0A0A;

    display:grid;

    grid-template-columns:
    1fr 1.2fr;

    gap:100px;
}

/* LEFT */

.philosophy-left p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:24px;

    font-size:0.8rem;
}

.philosophy-left h2{
    font-family:'Cormorant Garamond',serif;

    font-size:5.5rem;
    font-weight:300;

    line-height:0.95;
}

/* RIGHT */

.philosophy-right{
    display:flex;
    flex-direction:column;

    gap:55px;
}

/* ITEM */

.philosophy-item{
    display:flex;

    gap:35px;

    padding-bottom:45px;

    border-bottom:
    1px solid rgba(255,255,255,0.06);
}

/* NUMBER */

.philosophy-item span{
    color:#C9A97D;

    font-family:'Cormorant Garamond',serif;

    font-size:2rem;
}

/* TITLE */

.philosophy-item h3{
    font-family:'Cormorant Garamond',serif;

    font-size:2.1rem;
    font-weight:300;

    margin-bottom:18px;

    color:#F5F1E8;
}

/* TEXT */

.philosophy-item p{
    color:#BEBEBE;

    line-height:2;

    max-width:620px;
}

/* TABLET */

@media(max-width:900px){

    .philosophy{
        grid-template-columns:1fr;

        gap:70px;
    }

    .philosophy-left h2{
        font-size:4rem;
    }

}

/* MOBILE */

@media(max-width:600px){

    .philosophy{
        padding:120px 7%;
    }

    .philosophy-left h2{
        font-size:3rem;
    }

    .philosophy-item{
        flex-direction:column;

        gap:18px;
    }

    .philosophy-item h3{
        font-size:1.8rem;
    }

    }

/* SERVICES */

.services{
    padding:180px 7%;

    background:#050505;
}

/* TITLE */

.services-title{
    margin-bottom:90px;
}

.services-title p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:24px;

    font-size:0.8rem;
}

.services-title h2{
    font-family:'Cormorant Garamond',serif;

    font-size:5.5rem;
    font-weight:300;

    line-height:0.95;
}

/* GRID */

.services-grid{
    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:35px;
}

/* CARD */

.service-card{
    position:relative;

    padding:60px;

    background:
    linear-gradient(
        to bottom,
        rgba(255,255,255,0.02),
        rgba(255,255,255,0.01)
    );

    border:
    1px solid rgba(255,255,255,0.05);

    overflow:hidden;

    transition:
    transform 0.6s ease,
    border 0.5s ease,
    background 0.5s ease;
}

/* GOLD TOP LINE */

.service-card::before{
    content:"";

    position:absolute;

    top:0;
    left:0;

    width:0%;
    height:1px;

    background:#C9A97D;

    transition:0.8s ease;
}

/* NUMBER */

.service-card span{
    color:#C9A97D;

    font-family:'Cormorant Garamond',serif;

    font-size:2rem;

    display:block;

    margin-bottom:35px;
}

/* TITLE */

.service-card h3{
    font-family:'Cormorant Garamond',serif;

    font-size:2.4rem;
    font-weight:300;

    line-height:1.1;

    margin-bottom:25px;

    color:#F5F1E8;
}

/* TEXT */

.service-card p{
    color:#BEBEBE;

    line-height:2;

    max-width:500px;
}

/* HOVER */

.service-card:hover{
    transform:translateY(-10px);

    border:
    1px solid rgba(201,169,125,0.18);

    background:
    linear-gradient(
        to bottom,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.015)
    );
}

.service-card:hover::before{
    width:100%;
}

/* TABLET */

@media(max-width:900px){

    .services-grid{
        grid-template-columns:1fr;
    }

    .services-title h2{
        font-size:4rem;
    }

}

/* MOBILE */

@media(max-width:600px){

    .services{
        padding:120px 7%;
    }

    .services-title{
        margin-bottom:60px;
    }

    .services-title h2{
        font-size:3rem;
    }

    .service-card{
        padding:40px 32px;
    }

    .service-card h3{
        font-size:2rem;
    }

}


/* PROCESS */

.process{
    padding:180px 7%;

    background:#0A0A0A;
}

/* TITLE */

.process-title{
    margin-bottom:90px;
}

.process-title p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:24px;

    font-size:0.8rem;
}

.process-title h2{
    font-family:'Cormorant Garamond',serif;

    font-size:5.5rem;
    font-weight:300;

    line-height:0.95;
}

/* GRID */

.process-grid{
    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:30px;
}

/* CARD */

.process-card{
    position:relative;

    padding:55px 40px;

    border-top:
    1px solid rgba(255,255,255,0.08);

    transition:
    transform 0.5s ease,
    border-color 0.5s ease;
}

/* NUMBER */

.process-card span{
    color:#C9A97D;

    font-family:'Cormorant Garamond',serif;

    font-size:2rem;

    display:block;

    margin-bottom:35px;
}

/* TITLE */

.process-card h3{
    font-family:'Cormorant Garamond',serif;

    font-size:2rem;
    font-weight:300;

    margin-bottom:22px;

    color:#F5F1E8;
}

/* TEXT */

.process-card p{
    color:#BEBEBE;

    line-height:2;
}

/* HOVER */

.process-card:hover{
    transform:translateY(-8px);

    border-color:
    rgba(201,169,125,0.35);
}

/* TABLET */

@media(max-width:900px){

    .process-grid{
        grid-template-columns:
        repeat(2,1fr);
    }

    .process-title h2{
        font-size:4rem;
    }

}

/* MOBILE */

@media(max-width:600px){

    .process{
        padding:120px 7%;
    }

    .process-title{
        margin-bottom:60px;
    }

    .process-title h2{
        font-size:3rem;
    }

    .process-grid{
        grid-template-columns:1fr;
    }

    .process-card{
        padding:40px 0;
    }

    .process-card h3{
        font-size:1.8rem;
    }

}


/* CONTACT */

.contact{
    padding:180px 7%;

    background:#050505;

    display:grid;

    grid-template-columns:
    1fr 1fr;

    gap:100px;
}

/* LEFT */

.contact-left p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:24px;

    font-size:0.8rem;
}

.contact-left h2{
    font-family:'Cormorant Garamond',serif;

    font-size:5.5rem;
    font-weight:300;

    line-height:0.95;

    margin-bottom:35px;
}

.contact-left span{
    color:#BEBEBE;

    line-height:2;

    max-width:520px;

    display:block;
}

/* FORM */

.contact-form{
    display:flex;
    flex-direction:column;

    gap:32px;
}

/* INPUT */

.input-group input,
.input-group textarea{
    width:100%;

    background:transparent;

    border:none;

    border-bottom:
    1px solid rgba(255,255,255,0.08);

    padding:24px 0;

    color:#F5F1E8;

    font-size:1rem;

    outline:none;

    transition:0.4s ease;
}

/* TEXTAREA */

.input-group textarea{
    min-height:160px;

    resize:none;
}

/* PLACEHOLDER */

.input-group input::placeholder,
.input-group textarea::placeholder{
    color:#7E7E7E;

    letter-spacing:1px;
}

/* FOCUS */

.input-group input:focus,
.input-group textarea:focus{
    border-color:#C9A97D;
}

/* BUTTON */

.contact-form button{
    width:fit-content;

    margin-top:10px;

    padding:18px 42px;

    background:transparent;

    border:
    1px solid rgba(255,255,255,0.12);

    color:#F5F1E8;

    letter-spacing:3px;

    font-size:0.78rem;

    cursor:pointer;

    transition:0.5s ease;
}

/* HOVER */

.contact-form button:hover{
    background:#F5F1E8;

    color:#050505;
}

/* TABLET */

@media(max-width:900px){

    .contact{
        grid-template-columns:1fr;

        gap:70px;
    }

    .contact-left h2{
        font-size:4rem;
    }

}

/* MOBILE */

@media(max-width:600px){

    .contact{
        padding:120px 7%;
    }

    .contact-left h2{
        font-size:3rem;
    }

}


/* FOOTER */

.footer{
    position:relative;

    height:100vh;

    background:
    url('images/footer.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;

    overflow:hidden;
}

/* OVERLAY */

.footer-overlay{
    position:absolute;

    inset:0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.92)
    );
}

/* CONTENT */

.footer-content{
    position:relative;

    z-index:5;

    padding:0 7%;
}

.footer-content p{
    color:#C9A97D;

    letter-spacing:6px;

    margin-bottom:28px;

    font-size:0.8rem;
}

.footer-content h2{
    font-family:'Cormorant Garamond',serif;

    font-size:6rem;
    font-weight:300;

    line-height:0.95;

    margin-bottom:45px;
}

/* BUTTON */

.footer-content a{
    display:inline-block;

    padding:18px 42px;

    border:
    1px solid rgba(255,255,255,0.12);

    color:#F5F1E8;

    text-decoration:none;

    letter-spacing:3px;

    font-size:0.78rem;

    transition:0.5s ease;
}

.footer-content a:hover{
    background:#F5F1E8;

    color:#050505;
}

/* BOTTOM */

.footer-bottom{
    position:absolute;

    bottom:35px;
    left:7%;
    right:7%;

    z-index:5;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* COPYRIGHT */

.footer-bottom span{
    color:#8E8E8E;

    font-size:0.82rem;

    letter-spacing:1px;
}

/* LINKS */

.footer-links{
    display:flex;

    gap:35px;
}

.footer-links a{
    color:#BEBEBE;

    text-decoration:none;

    font-size:0.82rem;

    letter-spacing:1px;

    transition:0.4s ease;
}

.footer-links a:hover{
    color:#C9A97D;
}

/* MOBILE */

@media(max-width:900px){

    .footer-content h2{
        font-size:4rem;
    }

}

@media(max-width:600px){

    .footer{
        height:85vh;
    }

    .footer-content h2{
        font-size:3rem;
    }

    .footer-bottom{
        flex-direction:column;

        gap:18px;
    }

    .footer-links{
        gap:20px;
    }

    }
